In [1]:
import selenium
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd

# 1. 학사일정 가져오기

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())

# 해당 URL로 이동
driver.get('https://www.yonsei.ac.kr/sc/')

In [3]:
driver.find_element(By.XPATH,'//*[@id="header"]/div[3]/a/span').click()

In [4]:
# 학사지원 클릭
driver.find_element(By.XPATH, '//*[@id="mgnb"]/ul/li[5]/a').click()

In [5]:
# 학사
driver.find_element(By.XPATH, '//*[@id="mgnb"]/ul/li[5]/div/ul/li[1]/a').click()

In [6]:
# 학사일정 클릭
driver.find_element(By.XPATH, '//*[@id="mgnb"]/ul/li[5]/div/ul/li[1]/ul/li[1]/a').click()

In [7]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [8]:
driver.close()

In [9]:
table = soup.find(class_='tblH')

In [10]:
feb = table.text.split('FEB')[1].split('03 MAR')[0].replace('\t','')

In [11]:
mar = table.text.split('FEB')[1].split('03 MAR')[1].split('04 APR')[0].replace('\t','')

In [12]:
febList = list(filter(None, feb.split('\n')))
marList = list(filter(None, mar.split('\n')))

In [13]:
month = []
day = []
event = []

# Febuaray
for i in range(int(len(febList)/2)):
    month.append('Feb')
    day.append(febList[i*2].strip())
    event.append(febList[2*i+1].replace(u'\xa0',u' ').strip())
    
# March
for i in range(int(len(marList)/2)):
    month.append('Mar')
    day.append(marList[i*2].strip())
    event.append(marList[2*i+1].replace(u'\xa0',u' ').strip())

In [14]:
calendar = {
    'month' : month,
    'day' : day,
    'evnet' : event
}
calendar = pd.DataFrame(calendar)

In [15]:
calendar

   month          day                           evnet
0    Feb         1(수)                    휴 · 복학 접수 시작
1    Feb  13(월)~17(금)                   2023-1학기 수강신청
2    Feb  17(금)~23(목)                     2023-1학기 등록
3    Feb        22(수)                        복학 접수 마감
4    Feb        26(일)                            졸업예배
5    Feb        27(월)                           학위수여식
6    Mar         1(수)                             삼일절
7    Mar         2(목)                      개강 / 교무위원회
8    Mar    6(월)~8(수)                    수강신청 확인 및 변경
9    Mar  10(금)~13(월)                   2023-1학기 추가등록
10   Mar  13(월)~17(금)                         조기졸업 신청
11   Mar        15(수)  미등록자 일반 휴학 접수 마감 / 등록금 전액반환 마감

# 2. 고려대학교 썸네일 이미지 가져오기

In [16]:
driver = webdriver.Chrome(ChromeDriverManager().install())

# 해당 URL로 이동
driver.get('https://www.naver.com/')

In [17]:
# XPATH를 이용하여 검색창에 해당하는 요소 찾기
search = driver.find_element(By.XPATH, '//*[@id="query"]')

In [18]:
# 검색어 입력
search.send_keys('고려대학교')

In [19]:
# Keys.RETURN = Enter 입력
search.send_keys(Keys.RETURN)

In [20]:
img = driver.find_element(By.XPATH, '//*[@id="main_pack"]/div[2]/div[2]/div[1]/div/div[2]/a/img')
img_url = img.get_attribute('src')

In [21]:
print(img_url)

https://search.pstatic.net/common?type=f&size=174x174&quality=100&direct=true&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150831_102%2F1441001184354BvGxq_JPEG%2F11591498_0.jpg

In [22]:
# 브라우저 닫기
driver.close()